[tool.poetry]
name = "{{name}}"
version = "{{version}}"
description = "{{description}}"
authors = {{authors}}

[tool.poetry.dependencies]
{{dependencies}}
altair = {version = "^4.2.2", optional = true}
tensorflow-macos = {version = "~2.12", optional = true}
streamlit = {version = "^1.22.0", optional = true}
tensorflow = {version = "~2.12", optional = true}
tensorflow-metal = {version = "~1.0", optional = true}

[tool.poetry.extras]
tensorflow = ["tensorflow"]
tensorflow-macos = ["tensorflow-macos", "tensorflow-metal"]
visu = ["altair", "streamlit"]

{% if use_precommit %}
[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.1"

[tool.ruff]
line-length = 100

{%endif%}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
