[tool.poetry]
name = "{{name}}"
version = "{{version}}"
description = "{{description}}"
authors = {{authors}}

[tool.poetry.dependencies]
{{dependencies}}
tensorflow = {version = "2.8", optional = true}
tensorflow-macos = {version = "2.8", optional = true}
tensorflow-metal = {version = "^0.8.0", optional = true}
tensorflow-io-gcs-filesystem = {version = "0.31.0", optional = true}
altair = {version = "^4.2.2", optional = true}
streamlit = {version = "^1.22.0", optional = true}

[tool.poetry.extras]
tensorflow = ["tensorflow"]
tensorflow-windows = ["tensorflow", "tensorflow-io-gcs-filesystem"]
tensorflow-macos = ["tensorflow-macos", "tensorflow-metal"]
visu = ["altair", "streamlit"]

{% if use_precommit %}
[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
pre-commit = "^3.3.1"

[tool.ruff]
line-length = 100

{%endif%}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
